
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin:0;
    padding: 0;
    box-sizing: border-box;
   
}

#home-container{
   display: flex;
    height:100vh;
    
    flex-wrap: wrap;
    height: 100vh;
    width: 100%;
    position: relative;
    z-index: 1;
    justify-content: center;
    align-items: center;
    background-image: url(https://media.giphy.com/media/RHIKETUlUINYvV7CAO/giphy.gif);
 }

.mainparents{
    display:flex ;
    background-color: rgb(209, 155, 19);
    box-shadow: -10px -10px 31px  rgb(245, 72, 41) inset,
    10px 10px 31px  rgb(245, 72, 41) inset;
    justify-content:center;
    position: absolute;
    width: 58%;
    height: 60%;
    z-index: 2;
    top:160px;
    border-radius:6px;
   
}
.mainchild{ /*kutulari alt alta getiremedim, iki kutu ust uste geldi, topla indirdim*/
    display: flex;
    flex-flow: column wrap;
    color:black;
    position: absolute;
   

}

header { 
    background-image: url(img/avataaars2.png) ;
    background-size:300px ;
    background-repeat: no-repeat;
    width:300px;
    height:350px;
    top:-90px;
  

}
/*animater dan aldim bunu fakat sayfama uyarlayamadim nasil yapiyorduk acaba*/
.scale-in-center {
	-webkit-animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


section {
   
    height:200px;
    top:250px;
}

nav{
    display: flex;
    width:100%;
    height:3%;
    background-color:rgb(209, 155, 19);
    color: seashell;
    text-transform: uppercase;
    position: fixed;
    top: 0; 
    z-index:50;
    justify-content:space-between;
   
}
.navchild{
/*burada birsey yazmama gerek kalmadi sanirim*/

}

nav .h3{display:block;
        
        letter-spacing: 3px;
        margin: -20px 5px;
       
    }

.ul{
    
    margin: 2px 5px 5px 0;  
}

 ul li{ /*display flex uygulayamdin cunku bunlari tek tek blok yapmam mi gerekiyor? ya da burada display block tercih etmek daha mi mantikli*/
    display:block;
    /* background-color: brown; */
    list-style: none;
    float :left;
    margin: 0 10px;

}

a{
    text-decoration: none;
    letter-spacing: 3px;
    color: seashell; 
  
}

  
#portfolyo-container{
    height:100vh;
    width: 100%;
    background-color:  black;
    margin-top:0;
    display:  flex;
    justify-content: space-evenly;
    align-items: center;
   
  
 }
 
 .child{
     width: 20%;
     height: 60%;
     border-radius: 16px;  
     background: linear-gradient(315deg, tomato);
     box-shadow:  -10px -10px 31px  rgb(245, 72, 41) inset,
             10px 10px 31px  rgb(245, 72, 41) inset;   
    display: flex;
    flex-direction: column;
    position: relative;
    
    justify-content: flex-end;
    
            }

    .child p, h4{
        width:80%;
        color:black;
        font-weight: bold;
        margin-left :15px;
        
     }   
     
 .box1{  
    background-image: url(img/flat.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100% ;
     
 }
 

/* .underwrite::after {
    content: "boxesHouse";*/
 
 .box2 {
 
    background-image: url(img/winner.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100% ;
    
 }
 .box3{
    background-image: url(img/pinkfon.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100% ;
    
}



@media (max-width:760px) {
    #portfolyo-container{
        flex-direction: column;
    }
}