
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin:0;
    padding: 0;
    box-sizing: border-box;
   
}

#home-container{
   display: flex;
    height:100vh;
    background-image: url(https://media.giphy.com/media/RHIKETUlUINYvV7CAO/giphy.gif);
    flex-wrap: wrap;
    height: 100vh;
    width: 100%;
    position: relative;
    z-index: 1;
    justify-content: center;
    align-items: center;
   
 }

.mainparents{
    display:flex ;
    background-color: rgb(209, 155, 19);
    box-shadow: -10px -10px 31px  rgb(245, 72, 41) inset,
    10px 10px 31px  rgb(245, 72, 41) inset;
    justify-content:center;
    position: absolute;
    width: 58%;
    height: 60%;
    z-index: 2;
    top:160px;
    border-radius:6px;
   
  
    /* flex-flow: column wrap; */
    
    
}
.mainchild{ /*kutulari alt alta getiremedim, iki kutu ust uste geldi, topla indirdim*/
    display: flex;
    flex-flow: column wrap;
    color:black;
    position: absolute;
   

}

header { 
    background-image: url(img/avataaars2.png) ;
    background-size:300px ;
    background-repeat: no-repeat;
    width:300px;
    height:350px;
    top:-90px;
  

}
section {
   
    height:200px;
    top:250px;
}

nav{
    display: flex;
    width:100%;
    height:3%;
    background-color:rgb(209, 155, 19);
    color: seashell;
    text-transform: uppercase;
    position: fixed;
    top: 0; 
    z-index:50;
    justify-content:space-between;
   
}
.navchild{
/*burada birsey yazmama gerek kalmadi sanirim*/

}

nav .h3{display:block;
        
        letter-spacing: 3px;
        margin: -20px 5px;
       
    }

.ul{
    
    margin: 2px 5px 5px 0;  
}

 ul li{ /*display flex uygulayamdin cunku bunlari tek tek blok yapmam mi gerekiyor? ya da burada display block tercih etmek daha mi mantikli*/
    display:block;
    /* background-color: brown; */
    list-style: none;
    float :left;
    margin: 0 10px;

}

a{
    text-decoration: none;
    letter-spacing: 3px;
    color: seashell; 
  
}

  
#portfolyo-container{
    width:100%;
    height:100vh;
    background-color:  black;
    margin:0;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around;
    position: relative;  
 }
 .child{
    height: 60%;
   
    padding: 20px;
    margin:40px;
    flex-basis: 350px;
    border-radius: 16px;  
    background: linear-gradient(315deg, tomato);
    box-shadow:  -10px -10px 31px  rgb(245, 72, 41) inset,
             10px 10px 31px  rgb(245, 72, 41) inset;
  
 }
 .box1{   
    
    
 }

/* .underwrite::after {
    content: "boxesHouse";*/
 
 .box2{
    background-image: url(img/avataaars.png);
    background-repeat: no-repeat;
    background-size: 100% 100% ;
    
 }
 .box3{
    background-image: url(img/pinkfon.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100% ;
   
}
.par1{
    
    display:flex;
    position: absolute;
    top:550px;
    right:130px;
    color: seashell;
}
.par2{
    
    display:flex;
    position: absolute;
    top:550px;
    right:520px;
    color: seashell;
}
.par3{
    
    display:flex;
    position: absolute;
    top:550px;
    left:150px;
    color: seashell;
}
 
@media (max-width:760px) {
    #portfolyo-container{
        flex-direction: column;
    }
}